table {
    width: 75%;
    border:6px solid rgba(177, 159, 159, 0.63);
    border-radius: 5%;
        
}
td{
    border: 1px solid rgb(240, 228, 228);
    border-radius: 10%;
    
    
}
tr {
    border:5px solid rgb(109, 17, 17);
    
    text-align: center;
    
    
    background-color: black;
    color: whitesmoke;
}

.esc{
    border-top-left-radius: 50%;
}
.ctrl{
    border-bottom-left-radius: 50%;
}
.en{
    border-bottom-right-radius: 50%;
}
.pg{
    border-top-right-radius: 50%;
}
body{
    background-color: rgba(19, 19, 18, 0.692);
}
.sh{
    text-align: left;

}

    

 
