<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container mt-4">
  <div class="rol">
    <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3 col-sm-12">
      <form action="/adminDB/addstudents" method="POST">
        <div class="form-floating mb-3">
          <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Full name">
            
          </div>

          <div class="form-floating mb-3">
            <label for="mat_no">Marticulation Number</label>
            <input type="text" class="form-control" name="mat_no" id="text" placeholder="Marticulation Number">
            
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          
    </form>
    </div>
  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</html>